*{
    margin: 0;
    padding:0;
}
section{
    width: 100%;
    height:9.4rem;
    background-image: -webkit-linear-gradient(-90deg,#3bbcff,#4af4ff);
}
header{
    width:100%;
    height: 0.88rem;
    display: flex;
    justify-content:space-between;
    
}
header .return,.share{
    width:0.5rem;
    height:0.5rem;
    line-height: 0.5rem;
    margin:0 0.2rem;
}
header .icon-fenxiang{
    font-size: 0.45rem;
    color:#fff;
}
header .icon-fanhui{
    font-size: 0.45rem;
    color:#fff;
}